@import "reset";
@import "mixins";
@import "variables";


header {
  transition: 3s;
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 0;
  .header-inner {
    position: relative;
    @include clearFix;
  }
  #burger-icon {
    display: none;
    box-sizing: border-box;
    width: 50px;
    height: 40px;
    background: $yellowMan;
    position: absolute;
    right: 20px;
    top: 55px;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    @include mQ(800px) {
        display: inline-block;
    }
    &:hover {
      transition: .5s;
      background: $redMan;
    }
  }
  span {
    width: 100%;
    height: 3px;
    background: #fff;
    display: block;
    margin-bottom: 5px;
    border-radius: 4px;
  }
  #my-logo, nav, .btn-order-online {
    float: left;
    display: block;
    text-transform: uppercase;
    box-sizing: border-box;
  }
  #my-logo {
    width: 15%;
  }
  nav {
    text-align: center;
    width: 60%;
    @include mQ(800px) {
      display: none;
    };
  }
  img {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 25px 0;
  }
  li {
    display: inline-block;
    padding: 65.4px 20px;
  }
  a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
    transition: .5s;
    &:hover {
      color: rgb(230,0,51);
      transition: .5s;
    }
  }
  .btn-order-online {
    width: 25%;
    padding: 50.4px 0 50.4px 20px;
    @include mQ(800px) {
      display: none;
    };
  }
  #btn-order {
    float: right;
    padding: 15px;
    border-radius: 4px;
    background: rgb(246,173,73);
    transition: .5s;
    &:hover {
      background: rgb(230,0,51);
      color: #fff;
      transition: .5s;
    }
  }
}
.lead-banner {
  overflow: hidden;
  position: relative;
  background: url(../img/wood.jpg) no-repeat center center;
  background-color: #fff;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 900px;
  img {
    max-width: 100%;
    position: absolute;
    height: auto;
    bottom: 0;
  }
  h1 {
    font-size: 5.4rem;
    color: #fff;
    text-transform: uppercase;
    margin-top: 280px;
    text-align: center;
    margin-bottom: 0;
  }
  h3 {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }
}

.how-to-order-inner {
  width: 100%;
    @include clearFix;
  div {
    float: left;
    width: (100% / 5);
    text-align: center;
    @include mQ(800px) {
      float: none;
      width: 100%;
    };
  }
  img {
    max-width: 100%;
  }
  i {
    padding: 50%;
    font-size: 1.2rem;
    color: $redMan;
  }
  h4 {
    text-transform: uppercase;
  }
}

#menu {
  background: url(../img/character_pattern_2X.jpg);
  overflow: hidden;
  background-attachment: fixed;
  @include clearFix;
  .menu-inner {
    .clear {
      clear: left;
    }
      div {
        overflow: hidden;
        float: left;
        width: 50%;
        margin: 10px 0;
      }
    }
  span {
    color: $redMan;
    font-size: 1.8rem;
  }
  h4 {
    font-size: 2.2rem;
    font-weight: 400;
    color: rgb(67,61,60);
    margin: 15px 0;
  }
  ul {
    margin: 20px 0;
  }
  li:nth-child(1) {
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: 5px;
  }
  li#veggie {
    margin: 0;
    text-transform: lowercase;
  }
  li {
    color: #fff;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

#schedule {
  text-align: center;
  @include clearFix;
  p {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: rgb(246,173,73);
  }
  div {
    margin-top: 100px;
    box-sizing: border-box;
    width: 100%;
  }
  img {
    float: left;
    width: 33.33333333333333%;
  }
}

footer {
  text-align: center;
  background: rgb(67,61,60);
  color: #fff;
  padding: 50px;
  ul {
    margin: 50px;
  }
  li {
    display: inline-block;
    font-size: 2rem;
    padding: 0 20px;
  }
  i {
    display: inline-block;
    color: rgb(246,173,73);
    &:hover {
      transform: scale(1.2, 1.2);
      transition: .3s;
    }
  }
  div {
    margin: 30px;
  }
  p {
    line-height: 1.3rem;
    font-size: 1.2rem;
  }
  a#top {
    margin-top: 20px;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 700;
    text-decoration: none;
    padding: 15px;
    border-radius: 4px;
    background: rgb(246,173,73);
    transition: .5s;
    color: #fff;
    &:hover {
      background: rgb(230,0,51);
      color: #fff;
      transition: .5s;
    }
  }
}
